<footer>
  <div class="container">
    <div class="row biography">
      <div class="col-sm-4">
        <h2>学会解决问题</h2>
        <p>{{ site.biography }}</p>
      </div>
      <div class="col-sm-4">
        <h2>不断学习</h2>
        <p>{{ site.description }}</p>
      </div>
      <div class="col-sm-4">
        <h2>关注你在做的</h2>
          {% if site.email %}<p>当你全身心投入一件事的时候，你就会处于一个开心的状态。。</p>
          <div>
            <a href="mailto:{{ site.email }}">
             {{ site.email }}
         </a>
          {% endif %}
         <!--  {% if site.github_username %}
          
            <a href="https://github.com/{{ site.github_username }}">
              github//{{ site.github_username }}
            </a> -->
          </div>
          {% endif %}
          <!-- {% if site.twitter_username %}
          <div>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">twitter//{{ site.twitter_username }}</span>
            </a>
          </div>
          {% endif %}
          {% if site.linkedin_username %}
          <div>
            <a href="https://id.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="username">linkedin//{{ site.linkedin_username }}</span>
            </a>
          </div>
          {% endif %}
          {% if site.facebook_username %}
          <div>
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="username">facebook//{{ site.facebook_username }}</span>
            </a>
          </div>
          {% endif %} -->
      </div>
    </div>
    {% if site.colophon %}
    <div class="row copyright">
      <center>{{ site.colophon }}</center>
    </div>
    {% endif %}
  </div>
</footer>
